name: Build Code
on: [push, pull_request, workflow_call]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Install Dependencies
        run: pnpm i --frozen-lockfile --ignore-scripts
      - name: Build
        run: pnpm run test:build && pnpm run test:code
