name: ESLint
on: [push, pull_request, workflow_call]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Dependencies
      run: npm i
    - name: Run ESLint
      run: npm run lint
